<main class="flex flex-col min-h-screen bg-gray-50 text-gray-900">

  <header class="w-full shadow-sm bg-white px-6 py-4 flex items-center justify-between">
    <h1 class="text-xl sm:text-2xl font-semibold tracking-tight text-blue-600 ">Filesfer</h1>

    <div class="flex items-center gap-2">
      <button
        class="px-3 py-1.5 rounded-md text-sm flex items-center gap-2 bg-gray-200 hover:bg-gray-300"
        (click)="toggleViewMode()">
        @if (isGridView()) {
        <span>☰</span><span>List View</span>
        } @else {
        <span>⬚</span><span>Grid View</span>
        }
      </button>

      <button
        class="px-3 py-1.5 rounded-md text-sm flex items-center gap-2 bg-gray-200 hover:bg-gray-300 disabled:opacity-60"
        [disabled]="isRefreshing()" (click)="triggerRefresh()">
        @if (isRefreshing()) {
        <span class="w-4 h-4 border-2 border-gray-500 border-t-transparent rounded-full animate-spin"></span>
        <span>Refreshing...</span>
        } @else {
        <span>↻</span>
        <span>Refresh</span>
        }
      </button>
    </div>
  </header>

  <section class="flex-1 p-4 sm:p-6 overflow-y-auto">
    @if (files().length === 0) {
    <div class="text-center text-gray-500 mt-20 text-sm">No files found in the shared folder</div>
    } @else {
    <div
      [class.grid]="isGridView()"
      [class.grid-cols-2]="isGridView()"
      [class.sm:grid-cols-3]="isGridView()"
      [class.md:grid-cols-4]="isGridView()"
      [class.gap-3]="isGridView()"
      [class.sm:gap-4]="isGridView()"
      [class.flex]="!isGridView()"
      [class.flex-col]="!isGridView()"
      [class.divide-y]="!isGridView()"
      class="transition-all">
      @for (file of files(); track file) {
      <app-file-item
        [filename]="file"
        [isGrid]="isGridView()"
        (download)="startDownload($event)">
      </app-file-item>
      }
    </div>
    }
  </section>

  @if (activeDownload()) {
  <app-download-dialog [filename]="activeDownload()!" (closed)="activeDownload.set(null)">
  </app-download-dialog>
  }


  <footer class="p-3 text-[11px] sm:text-xs text-center text-gray-400 border-t">
    Filesfer • Local File Sharing App
  </footer>

</main>
